

.f-s-16{ font-size: 16px!important;}
.z_1_5{zoom: 1.5!important;}

.app{
    width: 140px!important;
    /*margin-left: 45px!important;*/
    /*margin-top: 26px!important;*/
}

/*app-circle-style*/
.app-c-s{
    width: 150px!important;
    height: 146px!important;
    margin-top: 4px!important;
}

.app-banner{
    width: 546px!important;
    background: none!important;
    display: inline-block!important;
    position: relative!important;
}
.app-banner-img{
    width: 544px!important;
    height: 200px!important;
}

@media screen and (max-width: 800px) {
    .app-banner{
        width: 100%!important;
        background: none!important;
        display: inline-block!important;
        position: relative!important;
    }
    .app-banner-img{
        width: 100%!important;
        height: 150px!important;
    }
}

/*float-left*/
.f-l{float: left!important;}
